### 1) Divide between dataset_training and dataset testing

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

information = pd.read_csv('gcar_data.csv', sep=',')

datatrain, datatest = train_test_split(information, test_size=0.3, random_state=5)

datatrain.to_csv('datatrain.csv',index=False, sep=',')
datatest.to_csv('datatest.csv',index=False, sep=',')

### 2) Now we start with the model

In [15]:
import pandas as pd

df_train = pd.read_csv('datatrain.csv', sep = ',')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        70000 non-null  int64
 1   brand                     70000 non-null  object
 2   model                     70000 non-null  object
 3   color                     69945 non-null  object
 4   registration_date         70000 non-null  object
 5   year                      70000 non-null  object
 6   price_in_euro             70000 non-null  object
 7   power_kw                  69944 non-null  object
 8   power_ps                  69947 non-null  object
 9   transmission_type         70000 non-null  object
 10  fuel_type                 70000 non-null  object
 11  fuel_consumption_l_100km  62118 non-null  object
 12  fuel_consumption_g_km     70000 non-null  object
 13  mileage_in_km             69952 non-null  float64
 14  offer_description         70000 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 8.0+ MB

In [17]:
df_train.head()

,id,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,81809,hyundai,Hyundai KONA,white,11/2020,2020,29990,150,204,Automatic,Electric,NaN,0 g/km,29000.0,Electric PREMIUM Vollausstattung/LEDER
1,36126,bmw,BMW 225,grey,03/2017,2017,18990,165,224,Automatic,Hybrid,2 l/100 km,46 g/km,89500.0,225xe Sport Line iPerformance *HUD*LED*Memory*
2,45607,citroen,Citroen Grand C4 SpaceTourer,black,09/2019,2019,16950,96,131,Automatic,Diesel,4 l/100 km,106 g/km,139000.0,1.5 BlueHDi Feel Automatik EU6d Navi Klima
3,13688,audi,Audi RS3,red,11/2017,2017,39999,294,400,Automatic,Petrol,"8,3 l/100 km",189 g/km,77000.0,Sportback 2.5 TFSI quattro*MATRIX*KERAMIK*
4,36065,bmw,BMW X3,brown,10/2017,2017,33890,195,265,Automatic,Diesel,"5,7 l/100 km",149 g/km,98996.0,xDrive30d Luxury AHK*Head-Up*Pano*Standhzg*

In [ ]:
# df_train['model'].value_counts()  #REMOVE MODEL
#df_train['color'].value_counts() # REMOVE
# registration_date # remove, let's keep the year
# price: this is the target
# power_ks -> integer
# power_ps -> integer
#df_train['transmission_type'].value_counts() #ONEHOT ENCODER
#df_train['fuel_type'].value_counts() # It has a lot op problem, keep only PETROL, DIESEL, HYBRID, ELECTRIC, LPG, DIESEL HYBRID, OTHER. Classify all the rest like "other"ArithmeticError
#df_train['fuel_consumption_l_100km'].unique() # we eliminate everything doesn't have l/100 km
# df_train['fuel_consumption_l_100km'] # we eliminate everything that doesnt't have g/km
# mileage_in_kg -> integer
#offer_description remove

In [ ]:
from sklearn.preprocessing import OneHotEncoder
def formating_dataframe(df):
    df.drop(['model', 'color', 'offer_description', 'registration_date'], axis = 1, inplace = True)